body {  
    background-color: cadetblue;
    background-attachment: fixed;
}
input.image{
    display:block;
    width:250px;
    height:30px;
    background-color: #aaa;
    border:1px solid #fee;
    outline:none;
    border-radius:10px;
    border-style:outset dashed double;
}
.button{
    width:100px;
    height:30x;
    position: relative;
    left: 30%;
}
.center{
    display: table;
    margin-left: auto;
    margin-right: auto;
}
.back{
    display: table;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    height: 900px;
    background-image: url(background_cat.jpeg);
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}